#header {
  height: 60px;
  width: 100%;
  background-color: rgb(236, 236, 236);
}
.fa-bars {
  color: rgb(155, 155, 155);
  font-size: 25px;
  padding: 17px;
}
.fa-bars:hover {
  color: rgb(236, 236, 236);
  background-color: rgb(155, 155, 155);
  cursor: pointer;
}
#aside {
  height: 100vh;
  width: 18%;
  background-color: rgb(236, 236, 236);
  margin-top: -21px;
  font-size: 1.3rem;
  color: rgb(155, 155, 155);
}
ul {
  list-style-type: none;
  padding: 0;
  padding-top: 15px;
}
li {
  padding: 15px;
}
li:hover {
  background-color: rgb(155, 155, 155);
  color: rgb(236, 236, 236);
  border-left: 5px solid red;
  cursor: pointer;
}
i {
  padding-right: 20px;
}
